name: widgetbook_workspace
description: A new Flutter project.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.1.0 <4.0.0"

# Widgetbook Cloud Properties
cloud:
  project: fruits-app

dependencies:
  flutter:
    sdk: flutter
  widgetbook_4:
    path: ../../widgetbook_4

  # Weird seen as a dependency and not a dev_dependency,
  # but the whole app is a dev app.
  mocktail: ^1.0.0
  provider: ^6.0.5

  # Depend on app to catalog the widgets
  fruits_app:
    path: ../

flutter:
  uses-material-design: true
